/* VARS ARE IMPORTED */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, arial, sans-serif;
  background-color: purple;
  color: yellow;
  padding: 0;
  margin: 0; }

.container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title {
  text-transform: uppercase;
  font-size: 85px; }
