/* VARS ARE IMPORTED */

/* BASE STYLES */
@import 'common/reset';

body {
    font-family: $font;
    background-color: $theme;
    color: $color;
    padding:0;
    margin:0;
}

.container {
    margin: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: $font_size;
}